@import "./Scoreboard";

.header-container {
  z-index: 1;
  width: 100%;
  padding: 2em;
  color: rgb(204, 204, 204);
  background-color: rgba(19, 19, 19, 0.918);
  font-family: "Game of Thrones", sans-serif;
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: -1px;

  .header-title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    h2,
    h3 {
      margin: 0;
      font-weight: 500;
    }

    h2 {
      color: rgba(255, 212, 93, 0.723);
    }

    h3 {
      color: rgba(255, 248, 227, 0.723);
    }
  }
}

@media only screen and (max-width: 600px) {
  .header-container {
    background-color: rgba(19, 19, 19, 0.918);
    flex-direction: column;
    align-items: center;
    padding: 1em;

    .header-title {
      margin-bottom: 1.2em;
      text-align: center;
      padding-bottom: 1em;
      border-bottom: 1px solid gray;
      font-size: 0.7em;
    }
  }
}

@media only screen and (max-width: 370px) {
  .header-container {
    padding-left: 0;
    padding-right: 0;
  }
}
