.scoreboard {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  font-weight: 300;
  text-align: right;

  .current-score,
  .best-score {
    display: flex;
    justify-content: space-between;
    gap: 0.6em;

    span {
      color: rgba(255, 212, 93, 0.723);
      font-weight: 500;
    }
  }
}

@media only screen and (max-width: 600px) {
  .scoreboard {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    padding-left: 0;
    padding-right: 0;
    font-size: 1rem;
  }
}
