@import "./Card";

.all-cards-container {
  width: 100%;
  padding: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2em;
  max-width: 1200px;
}

@media only screen and (max-width: 600px) {
  .all-cards-container {
    padding: 2em 0;
    gap: 1em;
  }
}

@media only screen and (max-width: 370px) {
  .all-cards-container {
  }
}
