@import "./components/scss/InfoModal";
@import "./components/scss/Header";
@import "./components/scss/AllCards";
@font-face {
  font-family: "Game of Thrones";
  src: url(./assets/GOT_font.ttf) format("truetype");
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  font-family: "Roboto", sans-serif;

  #root {
    min-height: 100%;

    .App {
      background-color: rgb(35, 35, 35);
      background-image: url(./assets/img/detailed_map2.jpg);
      background-size: cover;
      background-blend-mode: overlay;
      background-position: center;
      padding-top: 1.5em;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

@media only screen and (max-width: 600px) {
  .body {
    #root {
      .App {
        background-position: none;
      }
    }
  }
}
